body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Navbar */

.navbar-brand {
    font-size: 40px !important;
    color: #be814b !important;
}

.navbar-custom {
    height: 130px;
    font-size: 15px;
}

.nav-page {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-page :hover {
    color: #be814b !important;
}

.nav-social {
    color: #f0a868 !important;
}

/* carousel */

.carousel .carousel-item {
    height: 450px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 450px;
}

.menus {
    height: 600px;
    background-color: rgb(82, 82, 82);
    position: relative;
    width: 100%
}

.menus-title {
    text-align: center;
    padding-top: 40px;
    color: rgba(255, 255, 255, 0.822);
    font-weight: 300;
}

.masterchef-option {
    width: 30%;
    position: absolute;
    top: 130px;
    left: 15%;
    }
.menu-option-button {
    width: 100%;
    height: 140px;
    bottom: 0;
    position: absolute;
    text-align: center;
    background: rgba(15, 13, 13, 0.568);
    color: rgba(255, 255, 255, 0.822);
    font-weight: 400;
    font-size: 12px;
    padding-top: 20px;
}

.option2-option {
    width: 30%;
    height: auto;
    position: absolute;
    top: 130px;
    right:15%;
}

.font100 {
    font-weight: 100;
}

.dark-buttons {
    font-size: 1rem;
    background: rgba(15, 13, 13, 0.568);
    color: rgba(255, 255, 255, 0.822);
    padding: 7px 25px 8px 25px;
    border: 2px solid #be814bbe ;
}
.light-buttons {
    font-size: 1rem;
    color: rgba(15, 13, 13, 0.568);
    background: rgba(255, 255, 255, 0.568);
    padding: 7px 25px 8px 25px;
    border: 2px solid #be814bbe ;
}

.bricks {
    width: 30%;
    position: absolute;
    top: 130px;
    left: 15%;
    }

    .journey {
    height:600px;
    position: relative;
    width: 100%;
    background-color: black;
}

.black-buttons {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.822);
    background: rgba(3, 3, 3, 0.007);
    padding: 7px 25px 8px 25px;
    border: 2px solid #be814bbe ;
}

.journey-content {
    width: 30%;
    height: auto;
    position: absolute;
    top: 130px;
    right:15%;
    color: rgba(255, 255, 255, 0.822);
    font-weight: 100;
}

.cooker {
    width: 30%;
    position: absolute;
    top: 80px;
    right: 15%;
    }

  .intro-content {
    width: 30%;
    position: absolute;
    top: 80px;
    left:15%;
    color: rgba(22, 17, 17, 0.685);
    font-weight: 100;
}  
   .intro {
    height: 550px;
    position: relative;
    width: 100%;
    background-color: white;
    
}